.nav-item.pcoded-menu-caption {
  padding: 0.4rem 1rem 0.25rem;

  label {
    font-size: 0.725rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    color: #C51414 !important;
    margin: 0;
  }
}

.nav-group-red label {
  color: #C51414 !important;
}
